---
import { SCORE_API_ENDPOINT } from "astro:env/server";
import "../styles/global.css";
    
    const res = await fetch(SCORE_API_ENDPOINT)
    const scoreValue = await res.text()

---

<span class="prose dark:prose-invert font-bold" id="score">
    ⭐ Puntuación: {scoreValue.trim()}/5
</span>